@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importa la tipografía Space Grotesk desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700;900&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #000;
  color: white;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

/* Ocultar scrollbar */
body::-webkit-scrollbar { display: none; }
body { -ms-overflow-style: none; scrollbar-width: none; }

.scroll-section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
}
